<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QAAssignmentAutomationTestSuite">

	<test name="QAAssignmentAutomation">
	
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest"></class>
			<class name="com.crm.qa.testcases.ProductsPageTest"></class>
			<class name="com.crm.qa.testcases.CheckoutPageTest"></class>
			<class name="com.crm.qa.testcases.LogoutPageTest"></class>
		</classes>
		
	</test>
</suite>